* {
    box-sizing: border-box;
    font-family: 'kumbh' sans-serif;
}


body {
    padding: 0;
    margin: 0;
}

/* NAVIGATION BAR */

.navbar {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left,#040879 10%,#301bd1 100%);
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    color: white;
    background-image: linear-gradient(to top,#dce0ed 0%,#f1f2f5 30%,#cccccac8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-menu li {
    padding: 0.6rem 1rem;
    border-radius: 10px;
}

.nav-menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all 0.6s ease;
    font-size: 1.2rem;
}

.menu {
    width: 100px;
    display: none;
    position: absolute;
    top: 1.5rem;
    right: -5%;
}

.menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    display: block;
}

.nav-menu li:hover {
    background: white;
}

.nav-menu li:hover a {
    color: #040879;
}

.nav-menu li:hover a i {
    color: #040879;
}

@media only screen and (max-width:780px) {

    .menu {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1.2rem;
    }

    .nav-menu {
        width: 100%;
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 5%;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 3% 5%;
    }

    .nav-menu li a {
        padding: 3px;
        margin: 0;
    }

    .nav-menu li:hover  {
        background: white;
    }

    .nav-menu li:hover a {
        color: #040879;
    }

    .nav-menu.isactive {
        display: flex;
        height: 90vh;
    }

    .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    .active .bar:nth-child(2) {
        opacity: 0;
    }
    .active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }

}

/* MAIN */


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 0 5% 5%;
    background-color: #dbdcf3;
    max-height: 1300px;
}

.container .div1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    word-break: break-word;
    word-wrap: break-word;
}

.div1 div:first-child {
    width: 80%;
}

.div1 > div p {
    font-size: 1.1rem;
    font-weight: bold;
}

.div1 .add h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.add .address {
    line-height: 3px;
}

.add .address p {
    font-size: 1rem;
    font-weight: 500;
}

.add .info {
    line-height: 3rem;
}

.add .info p {
    font-size: 1rem;
    font-weight: 500;
}

/* Form */

.div2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.div2 .form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.form {
    line-height: 2rem;
}

.form input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 20rem;
    background-color: #dbdcf3;
}

.form input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.form label sup {
    color: red;
}

textarea {
    height: 10rem;
    margin: 2rem 0;
    background-color: #dbdcf3;
    text-align: left;
}

button {
    padding: 10px 5px;
    border-radius: 4px;
    background-color: #040879;
    border: none;
    color: white;
    font-weight: bold;
}

/* RESPONSIVENESS */

@media only screen and (max-width:780px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div1 div:first-child,.add {
        margin: 0 auto;
    }

    .div2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}