 * {
    box-sizing: border-box;
    font-family: 'kumbh' sans-serif;
}


body {
    padding: 0;
    margin: 0;
}

/* NAVIGATION BAR */

.navbar {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left,#040879 10%,#301bd1 100%);
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    color: white;
    background-image: linear-gradient(to top,#dce0ed 0%,#f1f2f5 30%,#cccccac8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    /* line-height: 45px; */
}

.nav-menu li {
    padding: 0.6rem 1rem;
    border-radius: 10px;
}

.nav-menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all 0.6s ease;
    font-size: 1.2rem;
}

.menu {
    width: 100px;
    display: none;
    position: absolute;
    top: 1.5rem;
    right: -5%;
}

.menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    display: block;
}

.nav-menu li:hover {
    background: white;
}

.nav-menu li:hover a {
    color: #040879;
}

.nav-menu li:hover a i {
    color: #040879;
}

@media only screen and (max-width:780px) {

    .menu {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1.2rem;
    }

    .nav-menu {
        width: 100%;
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 5%;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 3% 5%;
    }

    .nav-menu li a {
        padding: 3px;
        margin: 0;
    }

    .nav-menu li:hover  {
        background: white;
    }

    .nav-menu li:hover a {
        color: #040879;
    }

    .nav-menu.isactive {
        display: flex;
        height: 90vh;
    }

    .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    .active .bar:nth-child(2) {
        opacity: 0;
    }
    .active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }

}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    background-image: linear-gradient(to left,#040879 10%,#301bd1 100%);
}

.sec1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8%;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
}

.sec1 h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0;
    color: black;
    white-space: wrap;
}

.sec1 h1 span {
    color: white;
    display: block;
}

.sec1 .p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    white-space: wrap;
}

.sec1 .btn {
    position: relative;
    padding: 9px 18px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    transition:all .65s ease;
}

.btn a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: white;
    transition: all 0.35s;
    border-radius: 10px;
}

.btn:hover::after {
    width: 100%;
    border: none;
}

.btn:hover, .btn:hover a {
    color: #040879;
    border: none;
    font-weight: bold;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2 img{
    width: 80%;
    height: auto;
}

/* RESPONSIVE OF CONTAINER DIV */
@media only screen and (max-width: 486px) {

    .con {
        width: 55vw;
    }
    
    .sec1 h1 {
        font-size: 2rem;
    }

    .sec1 h1 span {
        display: block;
        line-height: 1.2rem;
    }

    .sec1 .p {
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: white;
        margin-top: 20px;
    }

    .btn {
        border: none;
        color: white;
        padding: 7px 15px;
    }

    .btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: white;
    transition: all 0.35s;
    border-radius: 10px;
}

.btn:hover::after {
    width: 100%;
    border: none;
}

.btn:hover, .btn:hover a {
    color: #040879;
    border: none;
    font-weight: bold;
}

    .sec2 img{
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .con {
        width: 65vw;
    }

    .sec1 h1 {
        font-size: 2.5rem;
    }

    .sec1 h1 span {
        display: block;
        line-height: 2rem;
    }

    .sec1 .p {
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: white;
        margin-top: 20px;
    }

    .btn {
        border: none;
        color: white;
        padding: 7px 15px;
    }

    .btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: white;
    transition: all 0.35s;
    border-radius: 10px;
}

.btn:hover::after {
    width: 100%;
    border: none;
}

.btn:hover, .btn:hover a {
    color: #040879;
    border: none;
    font-weight: bold;
}

    .sec2 img{
        display: none;
    }
}

/* PRODUCT DESIGN SECTION */

.section {
    width: 100vw;
    display: flex;
    background: #dbdcf3;
    padding: 0 5%;
}

.contents {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding-bottom: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 11px rgb(11, 11, 11);
    margin: 20px;
}

div.img {
    width: 100%;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 10px;
    padding: 0 5% 10%;
}

.description .name {
    color: rgb(16, 16, 17);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15px 0 0;
}

.description .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.price p:last-child {
    color: red;
}

button {
    width: 100%;
    border: 2px solid red;
    padding: 8px;
    background: white;
}

button {
    text-decoration: none;
    color: red;
    font-weight: 600;
    cursor: pointer;
}

button a {
    color: red;
}

/* FOOTER */

footer {
    padding: 5%;
    background-image: linear-gradient(to bottom,#3950b7 25%, #040879 100%);
    width: 100vw;
}

.footer-sec {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}
.footer-sec div {
    text-align: left;
}

.footer-sec div h2 {
    color: white;
    font-size: 1.5rem;
}

.footer-sec div p,a,i {
    color: #dbdcf3;
    text-decoration: none;
}

.footer-sec div:nth-child(2) {
    text-indent: 20%;
}

.footer-sec div:last-child {
    display: flex;
    flex-direction: column;
}

.footer-sec div:last-child div {
    display: flex;
    flex-direction: row;
}

.footer-sec div:last-child div p {
    margin-right: 15px;
    font-size: large;
}



@media only screen and (max-width: 768px) {
    .footer-sec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-sec div:nth-child(2) {
        text-indent: 0%;
    }
}








